body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eaeaea;
}

header {
  background-color: #ffffff;
  padding: 10px;
}

header h1 {
  width: 600px;
  margin: 0;
  margin: auto;
}

.post {
  width: 600px;
  margin: 20px auto;
  border: 1px solid grey;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px 5px;
}

.post-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.post-date {
  color: #adb7c3;
}

.post-footer {
  padding: 0;
  margin: 0;
}

.post-footer p {
  padding: 10px;
  margin: 10px;
}
